# ZMK / Zephyr workspace artifacts
.west/
build/
build-*/
zephyr/
zmk/
modules/

# Python virtualenvs e artefatos locais
.env/
.venv/
env/
zmk-venv/
**/pyvenv.cfg
**/lib64/

# Scripts locais não versionados
scripts/flash_sofle.sh

# Logs, caches, editor files
*.log
.cache/
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Misc
west.log

